<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Detailed Posts</h2>
    <div class="posts">
      <div><h3 class="username">@<%= post.username %></h3></div>
      <hr />
      <div class="image">
        <img src="<%= post.photo %>" alt="post-photo" />
      </div>
      <hr />
      <div><h4 class="content"><%= post.content %></h4></div>
    </div>
  </body>
</html>
