<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Users Username</title>
  </head>
  <body>
    <h3>Edit your Username for user : <%= targetuser.email %></h3>
    <form method="POST" action="/user/<%= targetuser.id %>?_method=PATCH">
      <input
        type="text"
        name="username"
        placeholder="<%= targetuser.username %>"
      />
      <br />
      <br />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
      />
      <br />
      <br />
      <button>Edit Username</button>
    </form>
  </body>
</html>
